<%= form_for(@assignment) do |f| %>
  <% if @assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@assignment.errors.count, "error") %> prohibited this assignment from being saved:</h2>

      <ul>
      <% @assignment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <span class="actions" >
    <%= button_tag(type: 'submit', class: "btn btn-primary") do%>
    Punch In To
    <% end %>
  </span>
  <span class="field">
    <%= collection_select(:login_location, :location_id, Location.all.order(:name), :id, :name )%>
  </span>

<% end %>

