<%= form_for(@assignment) do |f| %>
  <% if @assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@assignment.errors.count, "error") %> prohibited this assignment from being saved:</h2>

      <ul>
      <% @assignment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <span class="field">
    <%= f.label Location %><br>
    <%= collection_select(:login_location, :location_id, Location.all.order(:name), :id, :name )%>
  </span>
  <span class="actions" >
    <%= f.submit "Sign In"%>
  </span>
<% end %>

