<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"></link>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<% @recent_assignment = @assignments.active.where(user_id: current_user.id).first%>
<% if @recent_assignment && @recent_assignment.end_time == nil %>
  <span>
    <%= render 'punch_out' %>
  </span>
<% else %>
  <span>
    <%= render 'punch_in' %>
  </span>
<% end %>
<h3>Employees Currently Signed In</h3>
  <% @locations = current_user.locations.includes(shifts: :assignments) %>
  <div class='btn-group' role='group' aria-label='...'>
  <script type="text/javascript">function set_filter_value(value){}</script>
    <button type='button' class='btn btn-default' onClick="set_filter_value("ALL")">ALL</button>
    <% @locations.each do |location| %>
      <button type='button' class='btn btn-default' onClick="set_filter_value(<%location.name%>)"><%= location.name%></button>
    <% end %>
  </div>
<div class="tab-content">

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Location</th>
        <th>User</th>
        <th>Punch-In Time</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <% @locations.each do |location| %>

      <div id="<%= location.name.gsub(/\s+/, "")%>" class="tab-pane fade">
        <%= render 'table', location: location %>
      </div>

    <% end %>
  </table>

</div>



