<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<span><%=
  if @assignments.select(user_id: current_user.id).exists?

    puts "#{@assignments.select(user_id: current_user.id)} <------------------------"
    link_to '<button type="button" class="btn btn-danger">Punch Out</button>'.html_safe, @assignments.where(user_id: current_user.id).first, method: :delete, data: { confirm: 'Are you sure?' }
  else
    render 'form'
  end
%></span>
<span><h3>Employees Currently Signed In</h3></span>


<table class="table table-hover">
  <thead>
    <tr>
      <th>User</th>
      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @assignments.each do |assignment| %>
      <tr>
        <td><%= assignment.username %></td>
        <td><%= assignment.location %></td>
        <td><%= link_to '<button type="button" class="btn btn-default">Details</button>'.html_safe, assignment %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%# link_to 'Sign In', new_assignment_path unless Assignment.all.to_json.include?(session[:username]) %>



<p id="notice"><%= notice %></p>
