%h1 New User
= form_for(resource, :as => resource_name,:url => registration_path(resource_name),:html => {:id => "sign_up_user"},:format => :json,:remote => true ) do |f|
  = devise_error_messages!
  .field
  %div
    = f.text_field :first_name, placeholder: "First Name"
  %div
    = f.text_field :last_name, placeholder: "Last Name" 
  %div
    = f.email_field :email, placeholder: "Email"
  %div
    = f.password_field :password, placeholder: "Password"
  %div
    = f.password_field :password_confirmation, placeholder: "Password Confirmation"
  %div
  .actions
    = f.submit "Sign up", class: 'btn btn-primary btn-medium'
= link_to 'Back', users_path
