%h1 New User
= form_for(resource, :as => resource_name,:url => registration_path(resource_name),:html => {:id => "sign_up_user"},:format => :json,:remote => true ) do |f|
  = devise_error_messages!
  .field
    = f.label :first_name
    %br/
    = f.text_field :first_name, placeholder: "First Name"
  .field
    =f.label :last_name
    %br/
    = f.text_field :last_name, placeholder: "Last Name" 
  .field
    =f.label :email
    %br/
    = f.email_field :email, placeholder: "Email"
  .field
    =f.label :password
    %br/
    = f.password_field :password
  .field
    =f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation
  .actions
    = f.submit "Sign up", class: 'btn btn-primary btn-medium'
= link_to 'Back', users_path
