-if current_user.try(:admin?)
  %h1 Locations
  %table.table.table-hover
    %thead
      %tr
        %th Name
        %th Address
        %th Shift start
        %th Shift end
        %th{:colspan => "3"}
    %tbody
      - @locations.each do |location|
        %tr
          %td= location.name
          %td= location.address
          %td= location.shift_start
          %td= location.shift_end
          %td= link_to 'Show', location
          %td= link_to 'Edit', edit_location_path(location)
          %td= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' }
  %br/
  = link_to 'New Location', new_location_path
-else
  .jumbotron{:style => "background-color:rgb(227,81,74); padding:25px !important; width: 100%; height: 100%;"}
    %font{:size => "22", :style => "vertical-align: middle;color: rgb(126,41,36)"}
      %h1 Insufficient Permissions!
      %p
        You do not have the appropriate access rights to view the contents of this page. If you believe this is an error, please contact an administrator.
