<% if current_user.try(:admin?) %>
  <h1>Locations</h1>
  <%= form_tag locations_path, :method => 'get', :id => "locations_search" do %>
  <p>
    <%= text_field_tag :search, params[:search],:placeholder=>'Search Locations...'%>
    <%= submit_tag "Search", :name => nil, :class =>'btn btn-primary' %>
    <%= link_to '<button type="button" class="btn btn-primary">New Location</button>'.html_safe, new_location_path %>
  </p>
  <div id="locations"><%= render 'locations' %></div>
  <% end %>
  <table id="locations-table" data-source="<%= locations_path(format: :json) %>" class="table table-hover">
    <thead>
      <tr>
        <th><%= sortable "name" %></th>
        <th><%= sortable "address" %></th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <%= will_paginate @locations,renderer: BootstrapPagination::Rails, class: 'pagination-centered' %>
    <tbody>
    <% @locations.each do |location| %>
    <tr>
      <td><%= location.name %></td>
      <td><%= location.address %></td>
      <td><%= link_to '<button type="button" class="btn btn-default">Edit Location</button>'.html_safe, edit_location_path(location) %></td>
      <td><%= link_to '<button type="button" class="btn btn-danger">Delete Location</button>'.html_safe, location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
<% end %>
    </tbody>
  </table>
  <%= will_paginate @locations,renderer: BootstrapPagination::Rails, class: 'pagination-centered' %>
<% else %>
  <div class="jumbotron" style="background-color:rgb(227,81,74); padding:25px !important; width: 100%; height: 100%;">
    <font size="22" style="vertical-align: middle;color: rgb(126,41,36)">
      <h1>Insufficient Permissions!</h1>
      <p>
        You do not have the appropriate access rights to view the contents of this page. If you believe this is an error, please contact an administrator.
      </p>
    </font>
  </div>
<% end %>